html,
body {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  height: 100%;

  a {
    text-decoration: none;
    color: black;
  }

  #root {
    height: 100%;

    .wrapper {
      min-height: 100%;
      height: auto !important;
      height: 100%;
      margin: 0 0 -60px 0; /* the bottom margin is the negative value of the footer's height */
    }

    footer,
    .push {
      height: 60px; /* .push must be the same height as .footer */
    }
  }
}
