.small {
  border: 1px solid grey;
  width: 60px;
  height: 60px;
}

.medium {
  border: 1px solid grey;
  width: 100px;
  height: 100px;
}

.large {
  border: 1px solid grey;
  width: 150px;
  height: 150px;
}
