.confirm-dialog-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  z-index: 10;
}

.confirm-dialog {
  margin: 200px auto;
  width: 50%;
  position: relative;
  z-index: 11;
}
